/*                      Tag selectors                                    */
body {
  margin: 0;
  background-color: #A8A4CE;
  font-family: 'Merriweather', serif;
  text-align: center;
  color: #E9D5DA;
}

h1 {
  font-family: 'Sacramento', cursive;
}

h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

hr{
  border: 0;
  border-top: 1px solid #371B58;
  width: 70%;
}

/*                      Class selectors:                                   */
.container {
  background-color: #C8B6E2;
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
    color: #495C83;
}

.cloud {
  width: 300px;
  position: absolute;
  right: 200px;
  top: 50px;
}

.city {
  border-radius: 5%;
}

.skills{
  background-color: #7A86B6;
  color: #C8B6E2;
}

.contact-me, .bottom-container{
  background-color: #5B4B8A;
  color: #C8B6E2;
}
